[submodule "src/themes/PaperMod"]
	path = src/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/researcher"]
	path = themes/researcher
	url = https://github.com/ojroques/hugo-researcher.git
[submodule "src/themes/researcher"]
	path = src/themes/researcher
	url = https://github.com/ojroques/hugo-researcher.git
[submodule "src/themes/mini"]
	path = src/themes/mini
	url = https://github.com/nodejh/hugo-theme-mini
[submodule "src/themes/ublogger"]
	path = src/themes/ublogger
	url = https://github.com/uPagge/uBlogger
